{% extends "base_generic.html" %}

{% block content %}
  <h2>Chat with {{ room_name }}</h2>
  <textarea id="chat-log" cols="100" rows="20" readonly></textarea><br>
  <input id="chat-message-input" type="text" size="100"><br>
  <input id="chat-message-submit" type="button" value="Send">
  <script>
    const roomName = "{{ room_name }}";
    const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        if (data.type === 'past_messages') {
            data.messages.forEach(message => {
                const sender = message.sender;
                const content = message.message;
                const receiver = message.receiver;
                document.querySelector('#chat-log').value += (sender + ' to ' + receiver + ': ' + content + '\n');
            });
        } else {
            const sender = data.sender;
            const message = data.message;
            const receiver = data.receiver;
            document.querySelector('#chat-log').value += (sender + ' to ' + receiver + ': ' + message + '\n');
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // Enter key
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'receiver': roomName
        }));
        messageInputDom.value = '';
    };
  </script>
{% endblock %}
